@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Alexandria', sans-serif;
}

/*Dani*/
.titulo {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

/****************** SEÇÃO PLANO E PREÇO ******************/
.secao_plano {
    padding: 50px 20px;
    background-color: #D9D9D9;
}

.plano_grade {
    margin-top: 20px;
    display: grid;
    gap: 60px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    justify-content: center;
    align-items: center;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.plano_cartao {
    padding: 30px 25px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #4f4e4e;
}

.plano_cartao h4 {
    margin-bottom: 10px;
    font-size: 25px;
}



.plano_preco {
    margin-top: 25px;
    font-size: 25px;
}

.plano_agendar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.plano_agendar button {
    background-color: #9D4D06;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
    padding: 15px;
    font-weight: 700;
    cursor: pointer;
}

.plano_agendar a {
    text-decoration: none;
    color: #ffffff;
}

.plano_funcionalidade {
    margin-top: 20px;
}

.plano_funcionalidade span {
    display: block;
    padding-top: 9px;
}

.plano_funcionalidade i {
    margin-right: 10px;
}

.plano_aviso {
    margin-top: 50px;
    text-align: center;
}

.plano_aviso p {
    margin: 0 100px 0 100px;
}

.ri-checkbox-circle-fill {
    color: #169D06;
}

.ri-close-circle-fill {
    color: #BE0105;
}

.ri-alert-fill {
    color: #DFA700;
    font-size: 30px;
}